################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MimicAPI/MimicAPI/bin/Debug/netcoreapp3.1
/MimicAPI/MimicAPI/obj/Debug
/MimicAPI/MimicAPI/bin/Debug/netcoreapp2.2
/MimicAPI/.vs/MimicAPI/DesignTimeBuild
/MimicAPI/MimicAPI
*.suo
*.user
_ReSharper.*
bin
obj
packages
*.suo
*.user
*.sln.docstates
*.dtbcache
/MimicAPI/MimicAPI/bin
/MimicAPI/MimicAPI/obj